# .gitignore
node_modules/
__pycache__/
*.py[cod]
venv/
kayrros_env/
.env
.DS_Store
dist/
*.log
.vscode/
codes/
context-creation/
corine_land_cover/
derived-era5-land-daily-statistics/
ECA_blend_*/
copy-data/
full_dataset*/
models/
old*/
other/
output_week2/
prompts/
second_dataset/
sentine*/
templates/
THEOLDECA*/
third_*/
WUDAPT/
available_staids.txt


context_creation.py
era5_land*.*
file_explorer.py
gadm*.*

interpret_*.py
metrics_*.py
backup_server.py
visual*.*
copy_data/
week4*.py